{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ecell</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'index.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div id="sidenav" class="sidenav">
    <br>
    <br>
    <br>
    <a href="#abt">About&nbsp;<i class="glyphicon glyphicon-info-sign"></i></a>
    <br>
    <hr>
    <br>
    <a href="contact.html">Contact&nbsp;<i class="glyphicon glyphicon-earphone"></i></a>
</div>
<div id="main">
    <a href="javascript:" id="topbtn" onclick="topbtn()" title="Go To Top"><i class="glyphicon glyphicon-chevron-up"></i></a>
    <header id=head class="container">
        <div class="row" style="width: 100%">
            <h2 class="col-sm-4"><a class=home href="index.html" style="text-decoration: none;color: white;">WEB</a></h2>
            <nav class="col-sm-8">
            </nav>
            <p id="web" onclick="menu()">MENU</p>
            <div id=menu class="menu" onclick="menu()">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </div>
    </header>
    <section class="container parallax feat" style="margin-top: 0;background-image: url(/static/img4.jpg)">
        <div class="row">
            <h1 style="text-align: center;font-size: 100px; color: white"><b>E-Cell</b></h1>

            <hr style="width: 60%;margin-left: auto;height: 3px;top:10px">
            </div>
    </section>
    <br><br>
    <section class="container about">
        <div class="abtbox col-sm-12" style="width: 90%; height: 100%; left: 5%; padding: 0; margin: 0; overflow: auto">
            <header>
                <br><h1 style="text-align: center; color: black">About Us</h1><br>
            </header>
            <footer style="text-align: center;color: black;font-size:20px">
              <p> <font size="6" color="black">
                The Entrepreneurship Cell of Delhi Technological University is an initiative to empower the youth of the nation to spur the hidden entrepreneur in them
              </font></p>
            </footer>
        </div>
    </section>
    <br><br>
    <section class="container parallax" style="max-height: 500px; background-image: url(/static/ecell10.jpg)">
    </section>
    <br><br>
    <hr style="width: 92%;margin-left:4%;height: 2px">
    <br><br>

    <div class="container">
        <ul class="nav nav-tabs nav-justified">
            <li><a data-toggle="tab" href="#home"><h2>INFO</h2></a></li>
            <li class="active"><a data-toggle="tab" href="#menu1"><h2>PHOTOS</h2></a></li>
            <li><a data-toggle="tab" href="#menu2"><h2>CONTACT</h2></a></li>
        </ul>
        <div class="tab-content">
            <div id="home" class="tab-pane fade">
              <h3 style="color: black"> <font size = "6"> The E-Cell is a non-profit organization consisting of some of the most dynamic students of the college, with a mission to:
                  
<p>
                  1. Educate our community about what Entrepreneurship means, and to inspire more and more students to take up entrepreneurship as a career and become the role models for the coming generation of entrepreneurs from DTU.
<br> 2. Help the budding engineers of the institution realize their dreams of establishing their own start-ups, aiding them in conceptualizing and executing their plans by fine-tuning their strategy and bring them on platform where they can interact with the industry and hence further hone their enterprising skills.
<br>
3. Build a big network of student enterprises from DTU and facilitate interaction with entrepreneurs, incubators, seed funds and angel investors all over India and support them in all their endeavours. It also tries to bring about partnerships from other frontier organizations in the field of entrepreneurship so that students get access to vast amount of resources.

              </font></h3>
            </div>
            <div id="menu1" class="tab-pane fade in active">
                <br>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="false">
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src = "{% static 'ecell8.jpg' %}"/>
                                    </div>
                                    <div class="item">
                                        <img src="{% static 'ecell1.jpg' %}"/>
                                    </div>
                                    <div class="item">
                                        <img src = "{% static 'ecell2.jpg' %}"/>
                                    </div>
                                    <div class="item">
                                        <img src="{% static 'ecell3.png' %}"/>
                                    </div>
                                    <div class="item">
                                        <img src="{% static 'ecell4.jpg' %}">
                                    </div>
                                    <div class="item">
                                        <img src="{% static 'ecell5.jpg' %}">
                                    </div>
                                    <div class="item">
                                        <img src="{% static 'ecell6.jpg' %}">
                                    </div>
                                    <div class="item">
                                        <img src="{% static 'ecell7.jpg' %}">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="clearfix">
                                <div id="thumbcarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <div data-target="#carousel" data-slide-to="0" class="thumb"><img src="{% static 'ecell8.jpg' %}"/></div>
                                            <div data-target="#carousel" data-slide-to="1" class="thumb"><img src="{% static 'ecell1.jpg' %}"></div>
                                            <div data-target="#carousel" data-slide-to="2" class="thumb"><img src="{% static 'ecell2.jpg' %}"/></div>
                                            <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="{% static 'ecell3.png' %}"></div>
                                        </div>
                                        <div class="item">
                                            <div data-target="#carousel" data-slide-to="4" class="thumb"><img src="{% static 'ecell4.jpg' %}"></div>
                                            <div data-target="#carousel" data-slide-to="5" class="thumb"><img src="{% static 'ecell5.jpg' %}"></div>
                                            <div data-target="#carousel" data-slide-to="6" class="thumb"><img src="{% static 'ecell6.jpg' %}"></div>
                                            <div data-target="#carousel" data-slide-to="7" class="thumb"><img src="{% static 'ecell7.jpg' %}"></div>
                                        </div>
                                    </div>
                                    <a id="left" class="left carousel-control" href="#thumbcarousel" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a id="right" class="right carousel-control" href="#thumbcarousel" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="menu2" class="tab-pane fade">
              <h3 style="color: black"> <font size = "6"> <br>Facebook: @ECellDTU <br> <br>
                  Call: 0983717827 <br> <br>
                  Website: <a href = "http://esummit.ecelldtu.in">http://esummit.ecelldtu.in</a> <br><br>
                  E-mail: ecelldtu@gmail.com
                </font></h3>
            </div>
            </div>
            </div>
    <br><br><br>
    <footer id=foot class="container">
    <div class="row">
        <h1 class="col-sm-4" style="top: -8px;left:10px">
            <a class=home href="index.html" style="text-decoration: none;color: white;">WEB</a>
        </h1>
        <ul class="col-sm-8" style="top: 0;">
            <li>
                <a href="https://www.facebook.com/DtuSoc-1677457745685541/?modal=admin_todo_tour" style="text-decoration: none" class="fa fa-facebook"></a>
            </li>
            <li >
                <a href="https://twitter.com/DtuSoc" style="text-decoration: none" class="fa fa-twitter"></a>
            </li>
            <li >
                <a href="https://www.instagram.com/dtu_soc/" style="text-decoration: none" class="fa fa-instagram"></a>
            </li>
            <li >
                <a href="https://www.youtube.com/channel/UCVbwMITlRQRvgYxQqZ05wjg" style="text-decoration: none" class="fa fa-youtube"></a>
            </li>
        </ul>
    </div>
</footer>
</div>
</body>
</html>
